@font-face {
    font-family: 'earthOS';
    src: url('Branding/Noto_Sans/NotoSans.ttf') format('truetype');
}

body{
    font-family: earthOS;
    background-color: #272727;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

form{
    background-color:   #404040;
    padding: 30px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    background-color: #028982;
    padding: 9px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

input{
    background-color:   #00d8ce;
    padding: 12px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10 #272727;
    border: none;
}

button{
    background-color:   #028982;
    padding: 9px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10 #272727;
    width: 300px;
    border: none;
}